* {
    margin:0px;
    padding: 0px:
}
.nav-container {
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: grey;
    padding: 20px;
}

.menus {
    display: flex;
    list-style: none;
    gap: 15px;
    font-size: 17px;
    font-style: italic;

}
.banner-container {
    height: 100vh;
    background-image: url('../asset/image/background.jpg'), linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.4));
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}